name: Release

on:
  push:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    permissions:
      contents: write
      issues: write
      pull-requests: write
      id-token: write
    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          fetch-depth: 0
      - name: Install pnpm and setup Node.js
        uses: ./.github/actions/pnpm-node
      - name: Install dependencies
        run: pnpm install
      - name: Build the package
        run: pnpm build
      - name: Release
        env:
          RELEASE_TOKEN: ${{ secrets.RELEASE_TOKEN }}
          ISSUE_PR_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
          NPM_CONFIG_PROVENANCE: true
        run: node ./packages/cli/bin/index.js --debug
