name: Run tests

on:
  pull_request:
  push:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  run-tests:
    name: Run tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - name: Install pnpm and setup Node.js
        uses: ./.github/actions/pnpm-node
      - name: Install dependencies
        run: pnpm install
      - name: Build the package
        run: pnpm build
      - name: Run Vitest
        run: pnpm test
